
.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px #C7CDDB dashed;
  width: 50%;
  margin: 40px auto;
  border-radius: 25px;
  background-color: #F6F7FC
}


.Title {
  text-align: left;
  padding: 20px;
  width: 50%;
  margin: 40px auto;
  border-radius: 25px;
}